<div [hidden]="flagProgressBar">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="example-container">


  <mat-toolbar color="primary" class="example-toolbar">

    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>

    <span>ENVIOS UDEC</span>


    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">



      <ng-container *ngIf="this.login.isLogged() && this.login.rolType() == 'Administrador'">
        <button mat-menu-item (click)="drawer.toggle()" routerLink="/buscar">
          <mat-icon>search</mat-icon>
          <span>Buscar</span>
        </button>
      </ng-container>

      <ng-container *ngIf="!this.login.isLogged()">
        <button mat-menu-item (click)="drawer.toggle()" routerLink="/registro">
          <mat-icon>account_circle</mat-icon>
          <span>Registro</span>
        </button>
      </ng-container>

      <button mat-menu-item (click)="drawer.toggle()" routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Página principal</span>
      </button>

    </mat-menu>
  </mat-toolbar>

  <mat-drawer-container class="example-sidenav-content" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">
      <ng-container *ngIf="!this.login.isLogged()">
        <button mat-menu-item (click)="drawer.toggle()" routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Ingresar</span>
        </button>
      </ng-container>

      <ng-container *ngIf="this.login.isLogged()">
        <button mat-menu-item (click)="drawer.toggle()" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </ng-container>

      

      <ng-container *ngIf="this.login.isLogged() && this.login.rolType() == 'Administrador'">
        <button mat-menu-item (click)="drawer.toggle()" routerLink="/departamento">
          <mat-icon>share_location</mat-icon>
          <span>Departamento</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-menu-item (click)="drawer.toggle()" routerLink="/vehiculo">
          <mat-icon>garage</mat-icon>
          <span>Vehículos</span>
        </button>
        <mat-divider></mat-divider> 

       <button mat-menu-item (click)="drawer.toggle()" routerLink="/usuario">
          <mat-icon>manage_accounts</mat-icon>
          <span>Administrar usuarios</span>
        </button>
        <mat-divider></mat-divider> 
        
        

        </ng-container>
       
        
        

        
    </mat-drawer>

    <br>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>

    <br>

  </mat-drawer-container>