.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav {
  padding: 20px;
}

.example-container {
  display: flex;
  flex-direction: column;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

table {
    width: 50%;
    height: 100%;
}

.table-left{
    float: left;
}

.table-right{
    float: right;
}

button {
    margin: 16px 8px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-progress-bar{
    position:fixed;
    top:0px;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.loader-container{
    position: fixed;
}