<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nuevo vehiculo</mat-card-title>
        <mat-card-subtitle>Ingresar datos</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
       
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Placa</mat-label>
                <input matInput placeholder="N° Placa">
                <mat-icon matSuffix>style</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Modelo</mat-label>
                <input matInput placeholder="Modelo">
                <mat-icon matSuffix>numbers</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Tipo de vehiculo</mat-label>
                <input matInput placeholder="Tipo">
                <mat-icon matSuffix>garage</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Capacidad</mat-label>
                <input matInput placeholder="Capacidad del vehiculo">
                <mat-icon matSuffix>fitness_center</mat-icon>
            </mat-form-field>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button> Guardar </button>
        <button mat-button> Regresar </button>
    </mat-card-actions>
</mat-card>