.mat-form-field {
    display: block ruby;
    position: center;
    text-align: center;
}
.mat-button{
    position: center;
    text-align: center;
}

.example-card {
  max-width: 500px;
}

table{
    width: 100%;
}

.mat-card{
    border-radius: 25px;
    margin-top: 5px;
    margin-left: 500px;
}
.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child, .mat-card-actions .mat-stroked-button:first-child {
    margin-left: 110px;
    margin-right: 50px;
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 26px 16px 10px -1px rgba(0, 0, 0, 0.2),20px 10px 1px 1px rgba(0, 0, 0, 0.14),12px 5px 1px 1px rgba(0, 0, 0, 0.12);
}
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    box-sizing: border-box;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: auto;
    border: none;
    display: ruby-text;
    white-space: nowrap;
    text-decoration: none;
    min-width: 120px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 100px;
    overflow: visible;
}
.mat-button, .mat-icon-button, .mat-stroked-button {
    color: cadetblue;
    background: transparent;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: lighter;
}