<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Editar vehiculo</mat-card-title>
        <mat-card-subtitle>Ingresar datos a editar</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Id vehiculo</mat-label>
                <input matInput placeholder="N° vehiculo">
                <mat-icon matSuffix>pin </mat-icon>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Placa</mat-label>
                <input matInput placeholder="N° Placa">
                <mat-icon matSuffix>style</mat-icon>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Modelo</mat-label>
                <input matInput placeholder="Modelo">
                <mat-icon matSuffix>numbers</mat-icon>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>marca</mat-label>
                <mat-select>
                    <input matInput placeholder="marca">
                    <mat-option value="option">Seleccionar</mat-option>
                    <mat-option value="option">Toyota</mat-option>
                    <mat-option value="option">Chevrolet</mat-option>
                    <mat-option value="option">Reanult</mat-option>
                    <mat-option value="option">Mazda</mat-option>
                    <mat-option value="option">Merdedes</mat-option>
                    <mat-option value="option">BMW</mat-option>
                    <mat-option value="option">Alfa Romeo</mat-option>
                    <mat-option value="option">Audi</mat-option>
                    <mat-option value="option">Ferrari</mat-option>
                    <mat-option value="option">Peugeot</mat-option>
                    <mat-option value="option">Porche</mat-option>
                </mat-select>
                <mat-icon matSuffix>garage</mat-icon>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Tipo de vehiculo</mat-label>
                <mat-select>
                    <input matInput placeholder="Tipo de vehiculo">
                    <mat-option value="option">Seleccionar</mat-option>
                    <mat-option value="option">Carro</mat-option>
                    <mat-option value="option">Camioneta</mat-option>
                    <mat-option value="option">Furgon</mat-option>
                    <mat-option value="option">Campero</mat-option>
                </mat-select>
                <mat-icon matSuffix>garage</mat-icon>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Capacidad</mat-label>
                <input matInput placeholder="Capacidad del vehiculo">
                <mat-icon matSuffix>fitness_center</mat-icon>
            </mat-form-field>
        </p>

    </mat-card-content>

    <mat-card-actions>
        <button mat-button> Guardar </button>
        <button mat-button [routerLink]="['/vehiculo']"> Regresar </button>
    </mat-card-actions>
</mat-card>